{% load static %}
<section id="cta" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="cta-text">
              <h4>Obtenha 30 dias de teste gratuito</h4>
              <p>
                  Experimente nossos serviços com um teste gratuito de 30 dias! Descubra todas as funcionalidades
                  e benefícios sem compromisso. Aproveite esta oportunidade para ver como podemos atender às suas
                  necessidades e superar suas expectativas. Inscreva-se hoje e comece a explorar!
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
            </br><a href="#" class="btn btn-common">Cadastre-se agora</a>
          </div>
        </div>
      </div>
</section>